/****** Skript für SelectTopNRows-Befehl aus SSMS ******/
SELECT [AutoIncrementId]
      ,[Max-Planck].[dbo].[Industry_classifications].[BvD_ID_number]
	  ,[Country]
      ,[National_industry_classification_used_by_the_IP]
      ,[Primary_code_s_in_this_classification]
      ,[Secondary_code_s_in_this_classification]
      ,[NACE_Rev_2_main_section]
      ,[NACE_Rev_2_Core_code_4_digits]
      ,[NACE_Rev_2_Primary_code_s]
      ,[NACE_Rev_2_Secondary_code_s]
      ,[NAICS_2012_Core_code_4_digits]
      ,[NAICS_2012_Primary_code_s]
      ,[NAICS_2012_Secondary_code_s]
      ,[US_SIC_Core_code_3_digits]
      ,[US_SIC_Primary_code_s]
      ,[US_SIC_Secondary_code_s]
      ,[BvD_major_sector]
  FROM [Max-Planck].[dbo].[Industry_classifications]
  INNER JOIN [Max-Planck].[dbo].[Contact_info]
  ON [Max-Planck].[dbo].[Contact_Info].[BvD_ID_number] = [Max-Planck].[dbo].[Industry_classifications].[BvD_ID_number]
  WHERE [COUNTRY] = 'Germany'