/****** Skript für SelectTopNRows-Befehl aus SSMS ******/
SELECT [AutoIncrementId]
      ,[Industry_Global_financials_and_ratios_EUR].[BvD_ID_number]
      ,[COUNTRY]
      ,[Closing_date]
      ,[Original_units]
      ,[Original_currency]
      ,[Fixed_assets]
      ,[Intangible_fixed_assets]
      ,[Tangible_fixed_assets]
      ,[Other_fixed_assets]
      ,[Current_assets]
      ,[Stock]
      ,[Debtors]
      ,[Other_current_assets]
      ,[Cash_and_cash_equivalent]
      ,[Total_assets]
      ,[Capital]
      ,[Working_capital]
      ,[Net_current_assets]
      ,[Enterprise_value]
      ,[Number_of_employees]
      ,[Operating_revenue_Turnover]
      ,[Sales]
      ,[Costs_of_goods_sold]
      ,[Gross_profit]
      ,[Taxation]
      ,[Export_revenue]
      ,[Material_costs]
      ,[Costs_of_employees]
      ,[Interest_paid]
      ,[Research_and_Development_expenses]
      ,[Cash_flow]
      ,[EBITDA]
      ,[Profit_margin_percentage]
      ,[Gross_margin_percentage]
      ,[EBITDA_margin_percentage]
      ,[EBIT_margin_percentage]
  FROM [Max-Planck].[dbo].[Industry_Global_financials_and_ratios_EUR]
    INNER JOIN [Max-Planck].[dbo].[Contact_info]
  ON [Max-Planck].[dbo].[Contact_Info].[BvD_ID_number] = [Max-Planck].[dbo].[Industry_Global_financials_and_ratios_EUR].[BvD_ID_number]
  WHERE [COUNTRY] = 'Germany' 
