/****** Skript für SelectTopNRows-Befehl aus SSMS ******/
SELECT [AutoIncrementId]
      ,[Contact_Info].[BvD_ID_number]
      ,[Country]
      ,[Filing_type]
      ,[Closing_date]
      ,[Audit_status]
      ,[Accounting_practice]
      ,[Source_for_publicly_quoted_companies]
      ,[Original_units]
      ,[Original_currency]
      ,[Exchange_rate_from_original_currency]
      ,[Operating_revenue_Turnover]
      ,[P_L_before_tax]
      ,[P_L_for_period_Net_income]
      ,[Cash_flow]
      ,[Total_assets]
      ,[Shareholders_funds]
      ,[Current_ratio_x]
      ,[Profit_margin_percentage]
      ,[ROE_using_P_L_before_tax_percentage]
      ,[ROCE_using_P_L_before_tax_percentage]
      ,[Solvency_ratio_Asset_based_percentage]
      ,[Price_earning_ratio_x]
      ,[Number_of_employees]
      ,[Market_capitalisation_mil]
  FROM [Max-Planck].[dbo].[Key_financials_EUR]
  INNER JOIN [Max-Planck].[dbo].[Contact_info]
  ON [Max-Planck].[dbo].[Contact_Info].[BvD_ID_number] = [Max-Planck].[dbo].[Key_financials_EUR].[BvD_ID_number]
  WHERE [COUNTRY] = 'Germany'
